<html>
    <head>
        <meta charset="utf-8"/>
        <title>React & Webpack</title>
    </head>
    <body>
    </div>
        <div id="root">
        </div>
        <script>
        var options = [
                {
                    value: '',
                    text: '请选择:',
                    component: null
                },
                {
                    value: 'text',
                    text: '单行文本',
                    component: 'text'
                },
                {
                    value: 'textarea',
                    text: '多行文本',
                    component: 'text'
                },
                {
                    value: 'select',
                    text: '下拉选择',
                    component: 'input'
                },
                {
                    value: 'checkbox',
                    text: '多选',
                    component: 'input'
                },
                {
                    value: 'city',
                    text: '城市',
                    component: null
                },
                {
                    value: 'radio',
                    text: '单选',
                    component: 'input'
                },
                {
                    value: 'picture',
                    text: '图片',
                    component: null
                },
                {
                    value: 'pictures',
                    text: '多图',
                    component: 'pictures'
                },
                {
                    value: 'file',
                    text: '文件',
                    component: null
                },
                {
                    value: 'description',
                    text: '说明文本',
                    component: null
                },
                {
                    value: 'checkbox-text',
                    text: '多选文本',
                    component: 'option-text'
                },
                {
                    value: 'radio-text',
                    text: '单选文本',
                    component: 'option-text'
                }
            ];
                cusForm('root', { selectOptions: options}); //第一个参数是需要渲染的dom id， 第二个参数为上面的配置对象
        </script>
    </body>
</html>