<extend name="Admin@default/common/dashboard_layout"/>
<block name="style">
    <link href="__PUBLIC__/cusform/designable.css" rel="stylesheet"></head>
</block>

<block name="content">
    <div id="root"></div>
</block>

<block name="script">
    <script src="https://unpkg.com/moment/min/moment-with-locales.js"></script>
    <script src="https://unpkg.com/react/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/antd/dist/antd-with-locales.min.js"></script>
    <script src="__PUBLIC__/cusform/designable.bundle.js"></script>
    <script type="text/javascript">

    </script>
</block>
